serialize = true
destination = "custom_types_codegen"
static = ["kafstel.txt"]
use-workspace-deps = "../../Cargo.toml"
container-image = "timescale/timescaledb-ha:pg17"
container-wait = 1000

[style]
enum-variant-camel-case = true

[types]
derive-traits = ["Hash"]

[types.type-traits-mapping]
sponge_bob_character = ["serde::Deserialize"]

[types.mapping]
"public.element" = "ctypes::element::Element"
"pg_catalog.date" = { rust-type = "ctypes::date::Date", attributes = [
    'allow(dead_code)',
] }
"pg_catalog.tstzrange" = "postgres_range::Range<chrono::DateTime<chrono::FixedOffset>>"

[manifest.package]
name = "custom_types_codegen"
publish = false

[manifest.dependencies]
ctypes = { path = "../ctypes" }
postgres_range = { version = "0.11.1", features = ["with-chrono-0_4"] }
tokio-postgres = { version = "0.7.13", features = [
    "with-chrono-0_4",
    "with-serde_json-1",
] }

[manifest.lints.rust]
dead_code = "allow"
unused_imports = "allow"
